In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('main.csv')

In [3]:
df.head()

         Date  confirmed  recovered  deaths
0  2020-01-22          0          0       0
1  2020-01-23          0          0       0
2  2020-01-24          0          0       0
3  2020-01-25          0          0       0
4  2020-01-26          0          0       0

In [5]:
startDate = datetime.date(2022,4,14)
endDate = datetime.date(2022,4,18)

In [6]:
startDate

datetime.date(2022, 4, 14)

In [7]:
endDate

datetime.date(2022, 4, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817 entries, 0 to 816
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       817 non-null    object
 1   confirmed  817 non-null    int64
 2   recovered  817 non-null    int64
 3   deaths     817 non-null    int64
dtypes: int64(3), object(1)
memory usage: 25.7+ KB

In [11]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df['Date'][0]

Timestamp('2020-01-22 00:00:00')

In [28]:
data_val = []

In [29]:
index = 0
for i in range(len(df)):
    if df['Date'][i] == startDate:
        index = i
        break

In [30]:
for i in range(index, len(df)):
    if(df['Date'][i] == endDate):
        break
    l = []
    l.append(df['Date'][i])
    l.append(df['confirmed'][i])
    l.append(df['recovered'][i])
    l.append(df['deaths'][i])
    data_val.append(l)

In [32]:
data_val

[[Timestamp('2022-04-14 00:00:00'), 949, 0, 6],
 [Timestamp('2022-04-15 00:00:00'), 975, 0, 4],
 [Timestamp('2022-04-16 00:00:00'), 1150, 0, 4],
 [Timestamp('2022-04-17 00:00:00'), 2183, 0, 214]]

In [34]:
headers = ['Date', 'Confirmed', 'Deaths', 'Recovered']
df_main = pd.DataFrame(data_val, columns = headers)
df_main

        Date  Confirmed  Deaths  Recovered
0 2022-04-14        949       0          6
1 2022-04-15        975       0          4
2 2022-04-16       1150       0          4
3 2022-04-17       2183       0        214

In [35]:
df_main.to_csv('main_ranged.csv')